body{
    margin: 0;
    padding: 0;

}
 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 46px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sectionpremier {

    background: url(../images/hero.png) no-repeat 50% 50% ;
    background-size: cover;
    padding: 300px;
    /* margin-top: 10px; */
    max-height: 200px;
}




.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
   
}



.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    border-radius: 20px;
    background-color: #d1d0d1;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    

}

.container .card:hover {
    height: 400px;

}

.container .card .imgbox {
    position: absolute;
    width: 300px;
    height: 220px;
    overflow: hidden;
    background-color: #0000;
    border-radius: 12px;
    transition: 0.5s;
}

.container .card:hover .imgbox {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.container .card .text {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .text {
    top: 130px;
    height: 250px;
}

.container .card .text h4 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);   /* Ca permet de prendre le couleur que j'ai sur la partie html */

}

.container .card .text p {
    color: #000;
}

.container .card .text a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

.section .titleH4 h4 {
    color: crimson;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    
}

