

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 10px; */

}

header .container .menu ul{
    display: flex;
    gap: 30px;
}

.menu ul li {
    list-style: none;

}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    font-weight: 700;
}

.menu ul li a:hover {
    color: #ff0;
    border-bottom: 2px solid rgb(220, 188, 9);
    
}

.menu ul li:last-child{
    /* border: 1px solid rgb(2, 2, 1); */
    padding: 5px 10px;
    background-color: rgb(224, 205, 110);
    margin-top: -5px;
    
}


.deconnexion:hover {
    color: #fff;
    background-color: rgba(155, 87, 151, 0.4);

}

